<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" lang="zh_CN">
		<title>个人学习笔记网-首页</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 引入 Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/html5shiv.js" ></script>
		<script type="text/javascript" src="js/respond.min.js" ></script>
      	<![endif]-->
	</head>

	<body>
		<div class="container" id="app">
			<div class="row clearfix">
				<a href="#top" id="toTop"></a>
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">个人学习笔记网</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="#">首页</a>
							</li>
							<li>
								<a href="static/index.html">新建笔记</a>
							</li>
							<li>
								<a href="#">所有分类</a>
							</li>
							<li>
								<a href="#">高级搜索</a>
							</li>
						</ul>
						<form class="navbar-form navbar-left" onsubmit="return false;" role="search">
							<div class="form-group">
								<input type="text" class="form-control" v-model='typename' placeholder="搜索笔记..." />
							</div> <button type="submit" class="btn btn-default">搜索</button>
						</form>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="kingmaster/index.html">登录</a>
							</li>
							<li>
								<a href="#">网站导航</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!--The Header End-->

			<div class="row clearfix">
				<div class="row">
					<div class="col-md-12">
						
						<div style="margin-bottom: 20px;">
							<label>Java核心编程</label><br>
							<span v-for="item in data.types ">
							<a class="btn btn-default a-btn" 
								v-if="checkName(item,typename)"
								href="#" >
								{{item}}</a>
							</span>
						</div>

						<div style="margin-bottom: 20px;">
							<label>Java核心编程</label><br>
							<span v-for="item in data.types ">
							<a class="btn btn-default a-btn" 
								v-if="checkName(item,typename)"
								href="#" >
								{{item}}</a>
							</span>
						</div>

						<div style="margin-bottom: 20px;">
							<label>Java核心编程</label><br>
							<span v-for="item in data.types ">
							<a class="btn btn-default a-btn" 
								v-if="checkName(item,typename)"
								href="#" >
								{{item}}</a>
							</span>
						</div>

						<div style="margin-bottom: 20px;">
							<label>Java核心编程</label><br>
							<span v-for="item in data.types ">
							<a class="btn btn-default a-btn" 
								v-if="checkName(item,typename)"
								href="#" >
								{{item}}</a>
							</span>
						</div>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center footer">
					<span class="common">
		 	Copyright &copy;2017 湖南城市学院  
		 	<a class="common" href="http://www.hncu.net" target="_blank">hncu.net</a> 
		 	All Rights Reserved.
		 </span>
				</div>
			</div>
		</div>
		<!--主内容区域结束-->
	</body>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- 包括所有已编译的插件 -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollToTop.min.js"></script>
	<script src="js/qiao.js"></script>
	<script src="js/moment.min.js"></script>
	<script src="js/vuejs/vue.min.js"></script>
	<script>
		$("#toTop").scrollToTop(800);
		var data = {
			types: ['Java编程基础', 'JavaWEB编程', 'Java企业应用', 'Tomcat容器', '框架使用', 'Hadoop数据仓库', '服务器负载均衡', '数据结构', '数据库调优', 'Lucene使用'],
			typename: ''
		}

		var vue = new Vue({
			el: '#app',
			data: data,
			methods: {
				checkName: function(dt,name) {
					if(name.length === 0) {
						return true;
					}
					eval("var myReg = /" + name + "/ig;");
					if(myReg.test(dt))
						return true;
					return false;
				}
			},
			filters: {
				filterByName: function(dt, name) {
					if(!dt || dt == '' || dt == 0) {
						return '';
					}
					var name = name || '';
					if(name.length == 0) {
						return dt;
					}
					//var re = /\d{4}-\d{2}$/;
					//eval("var re = /\\d{4}" + splitChar + "\\d{2}$/;"); 
					//pattern1   =   new   RegExp( "\\w+\\ "+n[i]+ "$ ", "gi "); 
					//var myReg = /name/ig;
					eval("var myReg = /" + name + "/ig;");
					if(myReg.test(dt))
						return dt;
					return '';
				},
			}
		});
	</script>

</html>