<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" lang="zh_CN">
		<title>个人学习笔记网-首页</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 引入 Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/html5shiv.js" ></script>
		<script type="text/javascript" src="js/respond.min.js" ></script>
      	<![endif]-->
		<!--AadminLTE基本资源-->
		<link rel="stylesheet" href="css/font-awesome.min.css" />

	</head>
	<body>
	<div class="container" id="app">
	<div class="row clearfix">
			<a href="#top" id="toTop"></a>
			<nav class="navbar navbar-inverse" role="navigation">
			    <div class="navbar-header">
			        <a class="navbar-brand" href="#">个人学习笔记网</a>
			    </div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="#">首页</a>
						</li>
						<li>
							 <a href="static/index.html">新建笔记</a>
						</li>
						<li>
							 <a href="public/allType.html">全部分类</a>
						</li>
						<li>
							 <a href="#">高级搜索</a>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="搜索笔记..." />
						</div> <button type="submit" class="btn btn-default">搜索</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="kingmaster/index.html">登录</a>
						</li>
						<li>
							 <a href="#">网站导航</a>
						</li>
					</ul>
				</div>
			</nav>
	</div><!--The Header End-->
	
	<div class="row clearfix" style="margin-top: -15px;">
			<div class="carousel slide" id="carousel-608726">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-608726">
					</li>
					<li data-slide-to="1" data-target="#carousel-608726">
					</li>
					<li data-slide-to="2" data-target="#carousel-608726">
					</li>
				</ol>
				<div class="carousel-inner">
					<div v-for="(note,index) in data.notes" class="item"
						v-bind:class="{active:0 == index}">
						<a v-bind:href="'public/next.html?id='+note[0]" target="_blank">
						<img alt="" v-bind:src="data.imgs[index]"/>
						</a>
						<div class="carousel-caption">
							<h4>
								{{note[1]}}
							</h4>
							<p>
								{{moment(Number(note[2]))
								.format('YYYY-MM-DD HH:mm:ss')}}
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-608726" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-608726" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
	</div><!--幻灯片结束-->

	<div class="row clearfix" style="margin-top: 10px;">
		<div class="row" style="word-break:break-all;">
		<div class="col-md-4" v-for="(note,index) in tmp">
			<!-- USERS LIST -->
			<div v-bind:class="['box' ,index%2==0?'box-primary':'box-warning']">
				<div class="box-header with-border">
					<h3 class="box-title" v-if="note[1].length<10">
						{{note[1]}}
					</h3>
					<h3 class="box-title" v-if="note[1].length>=10">
						{{note[1].substring(0,10)+'...'}}
					</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
								data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool"
								data-widget="remove"><i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body no-padding" style="display: block;height:120px;">
					<p v-html="getChinese(note[3])"></p>
					<span>创建时间:&nbsp;{{moment(Number(note[2]))
						.format('YYYY-MM-DD HH:mm:ss')}}
					</span>
				</div>
				<!-- /.box-body -->
				<div class="box-footer text-center" style="display: block;">
					<a target="_blank" v-bind:href="'public/next.html?id='+note[0]">查看详细</a>
				</div>
				<!-- /.box-footer -->
			</div>
			<!--/.box -->
		</div>
	</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center footer">
		 <span class="common">
		 	Copyright &copy;2017 湖南城市学院  
		 	<a class="common" href="http://www.hncu.net" target="_blank">hncu.net</a> 
		 	All Rights Reserved.
		 </span>
		</div>
	</div>	
</div><!--主内容区域结束-->
</body>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- 包括所有已编译的插件 -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollToTop.min.js"></script>
	<script type="text/javascript" src="js/AdminLTE/dist/js/app.js"></script>
	<script src="js/qiao.js"></script>
	<script src="js/moment.min.js"></script>
	<script src="js/vuejs/vue.min.js"></script>
	<script type="text/javascript">
        $(function() {
            getNextNotes(data.index,function () {
                $("#toTop").scrollToTop(800);
                getNoteContent(data.index=data.index,function () {
                    qiao.end(function () {
                        if(data.index < data.pageCount && data.index < 20 )
                            getNoteContent(data.index+1);
                    });
                });
            });
        });

        var data = {
            index:1,
            notes:[],
            pageCount:1,
            imgs:['images/tu1.jpg','images/tu2.jpg','images/tu3.jpg'],
            tmp:[]
        }

        var app = new Vue({
            el:"#app",
            data:data
        });

        var getNextNotes = function (index,callback) {
            $.ajax({
                type:'post',
                url:'getLuceneNotes',
                data:{pageSize:3,curPage:index},
                success:function (result) {
                    if(typeof result.notes !== "undefined"){
                        data.notes = result.notes;
                        data.index = result.curPage;
                        data.pageCount = result.pageCount;
                    }
                },
                complete:function () {
                    if(typeof callback === "function"){
                        callback();
                    }
                }
            })
        }

        var getNoteContent = function (index ,callback) {
            $.ajax({
                type:'post',
                url:'getSimpleNotes',
                data:{pageSize:3,curPage:index},
                success:function (result) {
                    if(result.notes !== "undefined" ) {
                        data.index = result.curPage;
                        data.pageCount = result.pageCount;
                        $.each(result.notes,function () {
                            data.tmp.push(this);
                        });
                    }
                },
                complete:function () {
                    if(typeof callback === "function"){
                        callback();
                    }
                }
            })
        }
        //去除字符串里面的html标签
        var getChinese =  function (str) {
//            var str = str.replace(/[\u0000-\u00FF]/ig, '');//匹配非中文

//            str = str.replace(/配置/ig, "<font color='red'>"+'配置'+"</font>");
            if(str.length > 80) {
                return str.substring(0, 80) + '…';
            }
            return str;
        }
	</script>
</html>